<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avans Yönetim Sistemi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Talep</h2>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Talep No</th>
                            <td>Muhasebe Uzmani</td>
                        </tr>
                        <tr>
                            <th scope="row">İstenen Tutar</th>
                            <td>4.200</td>
                        </tr>
                        <tr>
                            <th scope="row">Onaylanan Tutar</th>
                            <td>.NET</td>
                        </tr>
                        <tr>
                            <th scope="row">İhtiyaç Tarihi</th>
                            <td>09-12-2023</td>
                        </tr>
                        <tr>
                            <th scope="row">Talep Tarihi</th>
                            <td>13-12-2023</td>
                        </tr>
                        <tr>
                            <th scope="row">Proje</th>
                            <td>.NET</td>
                        </tr>
                        <tr>
                            <th scope="row">Son Durumu</th>
                            <td>Muhasebe Uzmani</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <h2>Avans Listesi</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Durum</th>
                            <th scope="col">İşlem Zamanı</th>
                            <th scope="col">İşlemi Yapan</th>
                            <th scope="col">Sonraki Durum</th>
                            <th scope="col">Onaylanan Tutar</th>
                            <th scope="col">Ödeme Yapılacak Tarih</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>09-12-2023</td>
                            <td>4.200</td>
                            <td>09-12-2023</td>
                            <td>Muhasebe Uzmani</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>