<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avans Yönetim Sistemi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12" style="margin-top:100px">
                <h2>Avans Listesi</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Talep Tutarı</th>
                            <th scope="col">Talep Oluşturma Tarihi</th>
                            <th scope="col">İstenilen Tarih</th>
                            <th scope="col">Proje</th>
                            <th scope="col">Talep Durumu</th>
                            <th scope="col">Onaylayan/Reddeden Unvan</th>
                            <th scope="col">Onay/Red Tarihi</th>
                            <th scope="col">Onaylanan Tutar</th>
                            <th scope="col">Belirlenen Ödeme Tarihi</th>
                            <th scope="col">Ödeme Yapılan Tarih</th>
                            <th scope="col">Geri Ödeme Durumu</th>
                            <th scope="col">Detay</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>09-12-2023</td>
                            <td>4.200</td>
                            <td>09-12-2023</td>
                            <td>Muhasebe Uzmani</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                            <td>Onaylanan</td>
                            <td>
                                <a  class="btn btn-close-white"><i class="fa fa-plus"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>